*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    background-color: bisque;
}
.App{
    margin-left: 15rem;
    border-radius: 50px;
    margin-top: 5rem;
}